################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FieldLevel/.vs/FieldLevel
/FieldLevel/bin/Debug/netcoreapp3.0
/FieldLevelTests/bin/Debug/netcoreapp3.0
